[class^="myicon-"], [class*=" myicon-"] {  background-image: url(../image/sprite.png);}
.myicon-anzhuang { width: 128px; height: 128px; background-position: -129px 0px; }
.myicon-arrows-b { width: 32px; height: 32px; background-position: -641px -128px; }
.myicon-arrows-l { width: 48px; height: 48px; background-position: -641px -48px; }
.myicon-avatar { width: 83px; height: 83px; background-position: -513px -320px; }
.myicon-call { width: 32px; height: 32px; background-position: -641px -288px; }
.myicon-checkcode { width: 48px; height: 48px; background-position: -641px 0px; }
.myicon-chuxiao { width: 128px; height: 128px; background-position: 0px -256px; }
.myicon-collect { width: 48px; height: 48px; background-position: -464px -576px; }
.myicon-dailishang { width: 128px; height: 128px; background-position: -256px -256px; }
.myicon-dingyue { width: 48px; height: 48px; background-position: -128px -576px; }
.myicon-eye { width: 48px; height: 48px; background-position: -320px -576px; }
.myicon-fabu { width: 48px; height: 48px; background-position: -368px -576px; }
.myicon-fabu2 { width: 128px; height: 128px; background-position: 0px -384px; }
.myicon-fenxiao { width: 64px; height: 64px; background-position: -384px -512px; }
.myicon-gongcheng { width: 128px; height: 128px; background-position: -256px -384px; }
.myicon-gongyin { width: 64px; height: 64px; background-position: -320px -512px; }
.myicon-jiaoyi { width: 128px; height: 128px; background-position: -513px 0px; }
.myicon-jiaoyi2 { width: 64px; height: 64px; background-position: 0px -512px; }
.myicon-juli { width: 32px; height: 32px; background-position: -641px -320px; }
.myicon-kuchun { width: 64px; height: 64px; background-position: -64px -576px; }
.myicon-lock { width: 48px; height: 48px; background-position: -176px -576px; }
.myicon-log { width: 48px; height: 48px; background-position: -560px -576px; }
.myicon-login { width: 64px; height: 64px; background-position: -577px -403px; }
.myicon-map { width: 128px; height: 128px; background-position: -513px -128px; }
.myicon-message { width: 32px; height: 32px; background-position: -641px -352px; }
.myicon-message2 { width: 32px; height: 32px; background-position: -641px -160px; }
.myicon-message3 { width: 41px; height: 32px; background-position: -641px -96px; }
.myicon-mobile { width: 48px; height: 48px; background-position: -512px -576px; }
.myicon-more { width: 32px; height: 32px; background-position: -641px -384px; }
.myicon-my-ershou { width: 64px; height: 64px; background-position: -192px -512px; }
.myicon-my-qiugou { width: 64px; height: 64px; background-position: -256px -512px; }
.myicon-pingzheng { width: 128px; height: 128px; background-position: -384px -384px; }
.myicon-qg-info { width: 128px; height: 128px; background-position: -128px -384px; }
.myicon-qiuzhi { width: 128px; height: 128px; background-position: -385px -256px; }
.myicon-qiuzhi2 { width: 128px; height: 128px; background-position: -385px -128px; }
.myicon-qq { width: 48px; height: 48px; background-position: -272px -576px; }
.myicon-shenfen { width: 64px; height: 64px; background-position: -513px -403px; }
.myicon-shoping { width: 64px; height: 64px; background-position: -512px -512px; }
.myicon-time { width: 32px; height: 32px; background-position: -641px -224px; }
.myicon-user { width: 64px; height: 64px; background-position: 0px -576px; }
.myicon-user2 { width: 48px; height: 48px; background-position: -416px -576px; }
.myicon-username { width: 48px; height: 48px; background-position: -224px -576px; }
.myicon-video { width: 64px; height: 64px; background-position: -576px -512px; }
.myicon-view { width: 32px; height: 32px; background-position: -641px -192px; }
.myicon-vr1 { width: 114px; height: 64px; background-position: -513px -256px; }
.myicon-vr2 { width: 64px; height: 64px; background-position: -448px -512px; }
.myicon-wuliu { width: 129px; height: 128px; background-position: 0px 0px; }
.myicon-wuliu2 { width: 128px; height: 128px; background-position: -128px -256px; }
.myicon-xueyuan2 { width: 64px; height: 64px; background-position: -128px -512px; }
.myicon-yaoqing-code { width: 64px; height: 64px; background-position: -64px -512px; }
.myicon-youhui { width: 128px; height: 128px; background-position: -257px -128px; }
.myicon-yuedu { width: 32px; height: 32px; background-position: -641px -256px; }
.myicon-zhaobiao { width: 128px; height: 128px; background-position: -257px 0px; }
.myicon-zhaoping { width: 128px; height: 128px; background-position: -128px -128px; }
.myicon-zhaoping2 { width: 128px; height: 128px; background-position: 0px -128px; }
.myicon-zhaoshang { width: 128px; height: 128px; background-position: -385px 0px; }