<div class="aw-footer">
  Copyright © 2017<span class="hidden-xs"> - 蓉ICP备11008151号, All Rights Reserved</span>

  <span class="hide">Powered By <a href="#" target="blank">WeCenter 3.0 Beta 2</a></span>

</div>

<style>
  .aw-footer {
    padding: 30px 0 10px;
    font-size: 12px;
    text-align: center;
    color: #666;
  }
</style>